doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Title
        link(
            rel="stylesheet",
            href="style.css"
        )
    body
        .myblock
            .lemon 
            .about-lemon 
                h3 Лимон
                p Лимо́н (лат. Cítrus límon) — растение; вид рода Цитрус (Citrus) подтрибы Цитрусовые (Citreae) семейства Рутовые (Rutacea). Лимоном также называют плод этого растения.
                